.singleart-layout {
	display: flex;
	gap: 1rem;
	align-items: flex-start;
	flex-wrap: wrap;
}
.singleart-image {
	max-width: 700px;
	width: 100%;
	height: auto;
}
.singleart-info {
	max-width: 360px;
}

@media (max-width: 800px) {
	.singleart-layout {
		flex-direction: column;
		gap: 0.75rem;
	}
	.singleart-image {
		max-width: 100%;
	}
}
